#cardContainer {
	margin: 1rem;
	width: 19rem;
	height: 30rem;
	transform: scale(1);
	transition: 1.5s ease;
	display: flex;
	flex-direction: column;
	position: relative;
}

#cardContainer:hover {
	transform: scale(1.02);
	opacity: 0.7;
}

.figureContainer {
	height: 20rem;
}

.card-actions {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
