.detailContainer {
	margin: 2rem;
	border: 3px solid #117bf3;
}

.companies {
	display: flex;
	margin-left: 5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.companyImg {
	width: 12rem;
	height: 13rem;
	margin-right: 5rem;
}

.badge {
	margin: 1rem;
}
