.elementGrid {
	display: grid;
	margin: 5rem;
}

.searchCardTitle {
	text-align: center;
	font-size: 30px;
	margin-top: 1rem;
	height: 10px;
	z-index: 10;
}

.backBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}
